@media print {
  .noprint {display:none !important;}
  a:link:after, a:visited:after {
    display: none;
    content: "";
  }
  .fullScreen {display:none !important;}
  .directions-panel {overflow: inherit !important; height: auto !important;}
}