.footer-v1 .copyright {
  background: #fff none repeat scroll 0 0; }
  .footer-v1 .copyright p {
    color: #000; }

#map {
  height: 600px; }

.directions-panel {
  height: 600px;
  overflow: auto; }

.another-cities a {
  color: #3498db;
  font-size: 16px; }
